// Pagination Styles

.o-pagination {
	display: flex;
	justify-content: space-around;
	padding-left: 0;
	
	&__li {
		list-style-type: none;

		&.is-active {
			text-decoration: underline;;
			
			a {
				color: $black;
			}
		}
	}

	&__a {}
}