// Headings Styles

.u-base {
	
	&__h1 {
		margin-bottom: $global-spacer--2;
	}

	&__h2 {
		margin-bottom: $global-spacer--2;
	}

	&__h3 {
		margin-bottom: $global-spacer--2;
	}

	&__h4 {
		margin-bottom: $global-spacer--2;
	}

	&__h5 {
		margin-bottom: $global-spacer--2;
	}

	&__h6 {
		margin-bottom: $global-spacer--2;
	}
}