// Image Styles

.c-image {
	
	&--large {}

	&--avatar {
		max-width: 200px;
	}

	&--landscape {}

	&--portrait {}

	&__row {
        margin-bottom: $global-spacer--2;
    }

    &__column {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: $global-spacer--2;

        @include media-breakpoint-up(sm) {
            flex-flow: row wrap;
            justify-content: space-between;
        }

        img {
            margin-bottom: 0;

            &:first-child {
                margin-bottom: $global-spacer--2;
            }
            
            @include media-breakpoint-up(sm) {
                width: 49%;
            }
        }
    }

    &__row-column {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: $global-spacer--2;

        @include media-breakpoint-up(sm) {
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
        }

        img {
            margin-bottom: 0;

            &:first-child {
                margin: $global-spacer--2 auto;

                @include media-breakpoint-up(sm) {
                    width: 26.5%;
                }
            }

            &:last-child {

                @include media-breakpoint-up(sm) {
                    width: 69%;
                }
            }
        }
    }

    &__center {

        @include media-breakpoint-up(sm) {
            width: 50%;
            margin: $global-spacer--4 auto;
        }
    }
}