// Navigation Styles

.c-navigation {
	
	&-main {

		&__list {
            display: flex;
            justify-content: space-around;
            padding-left: 0;
		}

		&__item {
			list-style: none;
		}

		&__link {}
	}

	&-footer {

		&__list {
			padding-left: 0;
		}

		&__item {
			list-style: none;
		}

		&__link {}
	}
}