// Font Includes

// Typography

body {
	background: $grey-light;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p,
ul,
ol,
dl {}

li {}

a {
	color: $link-primary;

	&:hover,
	&:focus {
		color: $link-hover;
	}
}

blockquote {}

::selection {

}

::-moz-selection { /* Code for Firefox */

}

img {
	width: 100%;
	height: 100%;
}

hr {}

del {}

ins {}

sup {}

s {}

sub {}

small {}

abbr {}

kbd {}

q {}

cite {}

dfn {}

mark {}

code {}

samp {}

var {}

pre {
    white-space: pre-line;
}

blockquote {}