// Pattern Lab Styles

.c-pattern-lab {

    &__section-title {
        margin: $global-spacer--2 0;
        padding-top: $global-spacer--2;
        border-top: 2px solid $grey;
        font-family: $font-secondary;
        font-size: $font-medium;
        font-weight: bold;
        letter-spacing: 1px;
        color: $grey;
    }

    &__section-subtitle {
        margin: $global-spacer--2 0;
        padding-bottom: $global-spacer--2;
        border-bottom: 1px dashed $grey;
        font-family: $font-secondary;
        font-size: $font-small;
        font-weight: bold;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $grey-dark;
    }

    &__color {
        margin-bottom: $global-spacer--2;
        list-style: none;

        @include media-breakpoint-up(sm) {
            margin-bottom: $global-spacer;
        }

        &-outer {}

        &-inner {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            padding-left: 0;

            @include media-breakpoint-up(sm) {
                flex-flow: row wrap;
            }

            &--brand {

                .c-pattern-lab__color--first {
                    
                    .c-pattern-lab__color-block {
                        background: $grey-dark;
                    }
                }

                .c-pattern-lab__color--second {
                    
                    .c-pattern-lab__color-block {
                        border: 1px solid $grey-dark;
                        background: $grey-light;
                    }
                }

                .c-pattern-lab__color--third {
                    
                    .c-pattern-lab__color-block {
                        background: $red;
                    }
                }

                .c-pattern-lab__color--fourth {
                    
                    .c-pattern-lab__color-block {
                        background: $gold;
                    }
                }

                .c-pattern-lab__color--fifth {
                    
                    .c-pattern-lab__color-block {
                        background: $turquoise;
                    }
                }
            }

            &--ui {

                .c-pattern-lab__color--first {
                    
                    .c-pattern-lab__color-block {
                        background: $white;
                    }
                }

                .c-pattern-lab__color--second {
                    
                    .c-pattern-lab__color-block {
                        background: $grey;
                    }
                }

                .c-pattern-lab__color--third {
                    
                    .c-pattern-lab__color-block {
                        background: $gold;
                    }
                }

                .c-pattern-lab__color--fourth {
                    
                    .c-pattern-lab__color-block {
                        background: $orange;
                    }
                }

                .c-pattern-lab__color--fifth {
                    
                    .c-pattern-lab__color-block {
                        background: $red;
                    }
                }

                .c-pattern-lab__color--sixth {
                    
                    .c-pattern-lab__color-block {
                        background: $blue;
                    }
                }
            }
        }

        &-block {
            display: block;
            width: 100%;
            height: 100px;

            @include media-breakpoint-up(sm) {
                width: 150px;
            }
        }

        &-name {}

        &-hex {}
    }   

    &__font {

        &-primary {}

        &-secondary {}

        &-tertiary {}
    }

    &__animation {

        &.is-first {}
        
        &.is-second {}

        &.is-third {}
    }

    &__button {}

    &__feedback {}

    &__form {}

    &__image {}

    &__text {}

    &__headings {}

    &__hr {}

    &__inline {}

    &__paragraph {}

    &__preformatted {}

    &__blockquote {}

    &__block {}

    &__messaging {}

    &__navigation {}

    &__pagination {}

    &__icons {

        &-inner {
            display: flex;
            align-items: center;
        }
    }
}

// Hide Sidebar 
.pattern-lab {

    .o-sidebar__outer {
        display: none;
    }
}