// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Spacing
$global-spacer: 		10px;
$global-spacer--2: 		20px;
$global-spacer--3: 		30px;
$global-spacer--4: 		40px;
$global-spacer--5: 		50px;

//Colors
$white: 				#fff;
$black:					#000;
$grey:					#ccc;
$dark-grey:				#8c8c8c;
$red:					red;
$gold:					gold;
$green:					green;
$orange:				orange;
$blue:					blue;
$pink:					pink;
$dark-pink:				#cc0066;

// Brand Colors
$body-background: 		#f6f5f4;
$box-background: 		#3e403e;

// UI Colors
$highlight:				$gold;
$success:				$green;
$warning:				$orange;
$error:					$red;
$information:			$blue;
$link-primary:			$dark-pink;

// Font Colors
$box-font-color: 		$black;
$font-primary-color: 	$black;
$link-color: 			$green;
$link-hover:			$grey;

// Font Sizes
$font-extra-small: 		10px;
$font-small:			16px;
$font-medium:			20px;
$font-large:			30px;
$font-extra-large:		40px;

// Typefaces
$font-sans-serif: 	    Helvetica, sans-serif;
$font-serif: 			Georgia, serif;
$font-primary:    		Helvetica, sans-serif;
$font-secondary:   		Helvetica, sans-serif;
$font-tertiary:   		Georgia, serif;
